<% if @event.errors.any? %>
  <ul>
  <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<p>
	<%= f.label :name, "Name" %>
	<%= f.text_field :name %>
</p>

<p>
	<%= f.label :description, "Description" %>
	<%= f.text_area :description %>	
</p>

<!-- <p>
	<%= f.label :category_id, "Category" %>
	<%= f.select :category_id, Category.all.map{|c| [c.name, c.id]}  %>	
</p> -->

<!-- <p>
	<%= f.label :category_id, "Category" %>
	<%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "Please select"  %>	
</p> -->
<%= f.label :Category, "Category:" %>
<% Category.all.each do |c| %>
	<%= f.radio_button :category_id, c.id %><%= c.name %>
<% end %><br>

<%= f.label :Group, "Group:" %>
<%= f.collection_check_boxes(:group_ids, Group.all, :id, :name) %><br>

<%= f.label :status, "Status" %>
<%= f.select :status, [["Pubilshed", "published"], ["Draft", "Draft"]]  %>	

<%= f.label :logo, "Logo:" %>
<%= f.file_field :logo %>

<% if @event.logo.exists? %>
	<%= check_box_tag :remove, "1" %> 移除logo
<% end %>