<%= form_tag bulk_update_events_path do %>
	<table class="table table-hover">
		<tr>
			<th>name</th>
			<th>created_at</th>
			<th></th>
		</tr>

		<% @events.each do |event| %>
		  <tr>
		 		<td>
					<%= check_box_tag "ids[]", event.id, false %>
		 			<%= event.name %>
		 		</td>
		 		<td><%= event.created_at %></td>
		  	<td>
		  		<%= link_to 'Show', event_path(event), :class => "btn btn-primary" %>
		  		<%= link_to 'Get Xml', event_path(event, :format => :xml), :class => "btn btn-primary" %>
		  		<%= link_to 'Get Json', event_path(event, :format => :json), :class => "btn btn-primary" %>
		  		<%= link_to 'Edit', edit_event_path(event), :class => "btn btn-primary" %>
		  		<%= link_to 'Delete', event_path(event), :method => :delete, :class => "btn btn-primary" %>
		  		<%= link_to 'show attendees', event_attendees_path(event), :class => "btn btn-warning" %>
		  	</td>

		  </tr>
		<% end %>
	</table>

	<%= submit_tag "Delete" %>
	<%= submit_tag "Pubilsh" %>
<% end %>
<div>
	<%= link_to 'New Event', new_event_path , :class => "btn btn-primary"%>
	<%= link_to 'Latest Event', latest_events_path , :class => "btn btn-primary"%>
	<%= link_to "Atom feed", events_path(:format => :atom), :class => "btn btn-primary" %>
</div>
<%= paginate @events %>