<h1>Show event</h1>
<p><%= @event.name %></p>
<p>Category:<%= @event.category_name %></p>
<p>
	Group:
	
	<ul>
		<% @event.groups.each do |g| %>
			<li><%= g.name %>	</li>
		<% end %>
	</ul>
</p>
<p><%= @event.description %></p>
<p><%= @event.status %></p>
<p><%= @event.created_at %></p>
<p><%= @event.updated_at %></p>
<%= link_to "Back to index", events_path %>