<h1>Show event</h1>
<p><%= @event.name %></p>
<p><%= @event.description %></p>
<p><%= @event.created_at %></p>
<p><%= @event.updated_at %></p>
<%= link_to "Back to index", :controller => :events, :action => :index %>